<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="projects-section">
  <section class="section projects" id="projects">
    <div class="container">
      <div class="section-title-container">
        <h2 class="section-title">My Work</h2>
        <p class="section-subtitle">
          Explore some of my recent videos, courses on youtube and Udemy
        </p>
      </div>
      <div class="projects-container">
        <div class="project-card">
          <div class="project-image">
            <img src="/images/Notes.jpg" alt="NotesApplication">
            <div class="project-overlay"></div>
            <div class="project-tags">
              <span class="project-tag">Spring Boot</span>
              <span class="project-tag">Data JPA</span>
              <span class="project-tag">MySQL</span>
              <span class="project-tag">Thymeleaf</span>
              <span class="project-tag">Postman</span>
            </div>
          </div>
          <div class="project-content">
            <h3 class="project-title">Notes Application with Spring and Spring Boot</h3>
            <p class="project-description">
              This is a project that I use daily to check what tasks I have to do, what things I need to learn,
              what are the important things that I need to remember during some meetings, etc.
            </p>
            <div class="project-links">
              <a href="https://github.com/AdithyaUrs/NotesApp.git" class="project-link" target="_blank">
                <i class="fab fa-github"></i> View Code
              </a>
            </div>
          </div>
        </div>

        <div class="project-card">
          <div class="project-image">
            <img src="/images/portfolio.jpg" alt="Personal Portfolio">
            <div class="project-overlay"></div>
            <div class="project-tags">
              <span class="project-tag">Spring Boot</span>
              <span class="project-tag">Thymeleaf</span>
              <span class="project-tag">Bootstrap</span>
              <span class="project-tag">Front end</span>
            </div>
          </div>
          <div class="project-content">
            <h3 class="project-title">Personal Portfolio</h3>
            <p class="project-description">
              This is a personal digital portfolio that underlines my experience as a
              full-fledged engineer and the various projects that I have made.
            </p>
            <div class="project-links">
              <a href="https://github.com/AdithyaUrs/Portfolio.git" class="project-link" target="_blank">
                <i class="fab fa-github"></i> View Code
              </a>
            </div>
          </div>
        </div>

        <div class="project-card">
          <div class="project-image">
            <img src="/images/PesronalBlog.png" alt="Personal Blog">
            <div class="project-overlay"></div>
            <div class="project-tags">
              <span class="project-tag">Spring Boot</span>
              <span class="project-tag">Bootstrap</span>
              <span class="project-tag">MYSQL</span>
              <span class="project-tag">Hibernate</span>
              <span class="project-tag">IntelliJ IDEA</span>
            </div>
          </div>
          <div class="project-content">
            <h3 class="project-title">Personal Blog</h3>
            <p class="project-description">
              I made a personal blog so that when deployed i can show off the things i have done,
              the experience the adebtie , the tours , the codes etc to the workd
            </p>
            <div class="project-links">
              <a href="https://github.com/AdithyaUrs/PersonalBlog.git" class="project-link" target="_blank">
                <i class="fab fa-github"></i> View Code
              </a>
            </div>
          </div>
        </div>
        <div class="project-card">
          <div class="project-image">
            <img src="/images/roadaccidents.png" alt="Personal Blog">
            <div class="project-overlay"></div>
            <div class="project-tags">
              <span class="project-tag">Visual Studio</span>
              <span class="project-tag">Bootstrap</span>
              <span class="project-tag">SQL</span>
              <span class="project-tag">Apriori Algorithm</span>
              <span class="project-tag">c#</span>
            </div>
          </div>
          <div class="project-content">
            <h3 class="project-title">Machine Learning Based Road Accident Detection</h3>
            <p class="project-description">
              This is a simple but effective application built using c# , html , css etc that can find the corelation between the different types of accidents
              and their causes on any particular road of any city using the 'Apriori Algorithm' which is a type of un-supervised machine learning algorithm
            </p>
            <div class="project-links">
              <a href="https://github.com/AdithyaUrs/Traffic-Accidents-APRIORI-1st-Aug.git" class="project-link" target="_blank">
              <i class="fab fa-github"></i> View Code
              </a>
            </div>
          </div>
        </div>
    </div>
    </div>
  </section>
</th:block>
</html>